<h2><%= @user.name%>'s Place of Work</h2>

<% if @workplace.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@workplace.errors.count, "error") %> prohibited this workplace from being saved:</h2>

  <ul>
  <% @workplace.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

  <p>
  <b>Position:</b></br>
  &nbsp;&nbsp;<%= @workplace.position %>
</p>

<p>
  <b>Company:</b></br>
  &nbsp;&nbsp;<%= @workplace.company %>
</p>

<p>
  <b>Address:</b></br>
  &nbsp;&nbsp;<%= @workplace.address %>
</p>

<p>
  <b>Phone:</b></br>
  &nbsp;&nbsp;<%= @workplace.phone %>
</p>



<p><%= link_to 'Back', user_path %></p>